@import "materialize-css/dist/css/materialize.min.css";

.input-field #email {
  color: #e3f2fd !important;
}

.input-field #password {
  color: #e3f2fd !important;
}

input.lime-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.lime-input + label {
  color: #ffffff !important;
}

input.lime-input:focus + label {
  color: #f4ff81 !important;
}

input.lime-input:focus {
  border-bottom: 1px solid #f4ff81 !important;
  box-shadow: 0 1px 0 0 #f4ff81 !important;
}

input[type="email"]:not(.browser-default).invalid ~ .helper-text:after {
  color: #ffcdd2 !important;
}

input[type="password"]:not(.browser-default).invalid ~ .helper-text:after {
  color: #ffcdd2 !important;
}
